*{
  margin: 0;
  padding: 0;
}

.header-title {
  color: rgb(0, 0, 0);
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
}

nav {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    background: #8a8a8a;
    padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  border: 0px solid rgb(255, 255, 255);
  padding: 3px;
  padding-left: 0;
}

nav ul button, nav ul a {
  margin-left: 16px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #fcfcfc;
  text-decoration: none;
  color: #000000;
}

.content{
  background: #000000;
  min-height: 100vh;
}

.features{
  background: rgb(104, 0, 0);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 50px;

}
.features-section{
  width: 33%;
  padding: 25px 50px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.features-section h4{
  font-size: 140%;
}
.features-section p{
  margin-top: 16px;
}

.homepage-image {
width: 200px;
position: ;

}
